In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [2]:
df = pd.read_csv('Dev_data_to_be_shared.csv')

In [3]:
df.shape

(96806, 1216)

In [4]:
df.head()

,account_number,bad_flag,onus_attribute_1,transaction_attribute_1,transaction_attribute_2,transaction_attribute_3,transaction_attribute_4,transaction_attribute_5,transaction_attribute_6,transaction_attribute_7,...,bureau_enquiry_47,bureau_enquiry_48,bureau_enquiry_49,bureau_enquiry_50,onus_attribute_43,onus_attribute_44,onus_attribute_45,onus_attribute_46,onus_attribute_47,onus_attribute_48
0,1,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,0.0,0.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN
1,2,0,221000.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,2.0,3.0,0.0,0.0,0.0,0.0,0.0,0.0
2,3,0,25000.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,8.0,NaN,NaN,NaN,NaN,NaN,NaN
3,4,0,86000.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,30.0,NaN,NaN,NaN,NaN,NaN,NaN
4,5,0,215000.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
df.columns

Index(['account_number', 'bad_flag', 'onus_attribute_1',
       'transaction_attribute_1', 'transaction_attribute_2',
       'transaction_attribute_3', 'transaction_attribute_4',
       'transaction_attribute_5', 'transaction_attribute_6',
       'transaction_attribute_7',
       ...
       'bureau_enquiry_47', 'bureau_enquiry_48', 'bureau_enquiry_49',
       'bureau_enquiry_50', 'onus_attribute_43', 'onus_attribute_44',
       'onus_attribute_45', 'onus_attribute_46', 'onus_attribute_47',
       'onus_attribute_48'],
      dtype='object', length=1216)

In [6]:
df.describe()

,account_number,bad_flag,onus_attribute_1,transaction_attribute_1,transaction_attribute_2,transaction_attribute_3,transaction_attribute_4,transaction_attribute_5,transaction_attribute_6,transaction_attribute_7,...,bureau_enquiry_47,bureau_enquiry_48,bureau_enquiry_49,bureau_enquiry_50,onus_attribute_43,onus_attribute_44,onus_attribute_45,onus_attribute_46,onus_attribute_47,onus_attribute_48
count,96806.000000,96806.000000,7.157500e+04,71575.000000,71575.000000,71575.000000,71575.000000,71575.000000,71575.000000,71575.000000,...,94212.0,94212.000000,94212.000000,94212.000000,11610.000000,11610.000000,11610.000000,11610.000000,11610.000000,11610.000000
mean,48403.500000,0.014173,1.542391e+05,9.570769,0.002207,4.092854,77.306435,0.006315,67.043550,0.081034,...,0.0,0.189657,0.044283,7.800673,0.588114,1.497158,0.545650,1.430491,0.121447,0.119208
std,27945.629417,0.118203,1.729925e+05,1513.967595,0.119240,301.580599,3164.987013,0.129545,2516.330899,14.203615,...,0.0,0.597298,0.369451,8.655149,1.059613,1.702795,1.055865,1.728950,0.601256,0.599697
min,1.000000,0.000000,2.500000e+04,0.000000,0.000000,0.000000,-109800.476600,0.000000,-3498.000000,0.000000,...,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,24202.250000,0.000000,5.900000e+04,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.0,0.000000,0.000000,2.000000,0.000000,1.000000,0.000000,1.000000,0.000000,0.000000
50%,48403.500000,0.000000,1.000000e+05,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.0,0.000000,0.000000,5.000000,0.000000,1.000000,0.000000,1.000000,0.000000,0.000000
75%,72604.750000,0.000000,1.810000e+05,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.0,0.000000,0.000000,11.000000,1.000000,2.000000,1.000000,2.000000,0.000000,0.000000
max,96806.000000,1.000000,2.800000e+06,398936.791000,25.000000,55000.000000,358986.000000,12.000000,358986.000000,3150.000000,...,0.0,18.000000,14.000000,102.000000,19.000000,38.000000,19.000000,38.000000,15.000000,15.000000

In [7]:
df.dtypes

account_number               int64
bad_flag                     int64
onus_attribute_1           float64
transaction_attribute_1    float64
transaction_attribute_2    float64
                            ...
onus_attribute_44          float64
onus_attribute_45          float64
onus_attribute_46          float64
onus_attribute_47          float64
onus_attribute_48          float64
Length: 1216, dtype: object

In [8]:
df.dtypes.unique()

array([dtype('int64'), dtype('float64')], dtype=object)

In [9]:
df.isnull().sum()

account_number                 0
bad_flag                       0
onus_attribute_1           25231
transaction_attribute_1    25231
transaction_attribute_2    25231
                           ...
onus_attribute_44          85196
onus_attribute_45          85196
onus_attribute_46          85196
onus_attribute_47          85196
onus_attribute_48          85196
Length: 1216, dtype: int64

In [10]:
df['bad_flag'].value_counts()

bad_flag
0    95434
1     1372
Name: count, dtype: int64

In [11]:
df.columns.unique()

Index(['account_number', 'bad_flag', 'onus_attribute_1',
       'transaction_attribute_1', 'transaction_attribute_2',
       'transaction_attribute_3', 'transaction_attribute_4',
       'transaction_attribute_5', 'transaction_attribute_6',
       'transaction_attribute_7',
       ...
       'bureau_enquiry_47', 'bureau_enquiry_48', 'bureau_enquiry_49',
       'bureau_enquiry_50', 'onus_attribute_43', 'onus_attribute_44',
       'onus_attribute_45', 'onus_attribute_46', 'onus_attribute_47',
       'onus_attribute_48'],
      dtype='object', length=1216)

In [12]:
correlation = df.corr()

In [13]:
sorted_corr = correlation['bureau_1'].abs().sort_values(ascending=False)

In [14]:
sorted_corr

bureau_1             1.000000
bureau_389           0.893254
bureau_35            0.784208
bureau_117           0.708530
bureau_23            0.615956
                       ...
bureau_enquiry_7          NaN
bureau_enquiry_17         NaN
bureau_enquiry_27         NaN
bureau_enquiry_37         NaN
bureau_enquiry_47         NaN
Name: bureau_1, Length: 1216, dtype: float64

In [15]:
high_corr = correlation[(correlation > 0.5) & (correlation!=1) ]

In [16]:
high_corr

,account_number,bad_flag,onus_attribute_1,transaction_attribute_1,transaction_attribute_2,transaction_attribute_3,transaction_attribute_4,transaction_attribute_5,transaction_attribute_6,transaction_attribute_7,...,bureau_enquiry_47,bureau_enquiry_48,bureau_enquiry_49,bureau_enquiry_50,onus_attribute_43,onus_attribute_44,onus_attribute_45,onus_attribute_46,onus_attribute_47,onus_attribute_48
account_number,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
bad_flag,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
onus_attribute_1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
transaction_attribute_1,NaN,NaN,NaN,NaN,0.830394,0.733050,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
transaction_attribute_2,NaN,NaN,NaN,0.830394,NaN,0.678565,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
onus_attribute_44,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,0.592586,NaN,0.597521,0.987968,NaN,NaN
onus_attribute_45,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,0.979447,0.597521,NaN,0.605060,NaN,NaN
onus_attribute_46,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,0.575215,0.987968,0.605060,NaN,NaN,NaN
onus_attribute_47,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.996666
onus_attribute_48,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.996666,NaN

In [17]:
high_corr = high_corr.dropna(axis=1, how='all').dropna(axis=0, how='all')

In [18]:
high_corr_columns = high_corr.columns.to_list()

In [19]:
high_corr_columns

['onus_attribute_1',
 'transaction_attribute_1',
 'transaction_attribute_2',
 'transaction_attribute_3',
 'transaction_attribute_4',
 'transaction_attribute_5',
 'transaction_attribute_6',
 'transaction_attribute_7',
 'transaction_attribute_8',
 'transaction_attribute_9',
 'transaction_attribute_10',
 'transaction_attribute_11',
 'transaction_attribute_12',
 'transaction_attribute_13',
 'transaction_attribute_14',
 'transaction_attribute_15',
 'transaction_attribute_16',
 'transaction_attribute_17',
 'transaction_attribute_18',
 'transaction_attribute_19',
 'transaction_attribute_20',
 'transaction_attribute_21',
 'transaction_attribute_22',
 'transaction_attribute_23',
 'transaction_attribute_24',
 'transaction_attribute_25',
 'transaction_attribute_26',
 'transaction_attribute_27',
 'transaction_attribute_28',
 'transaction_attribute_29',
 'transaction_attribute_30',
 'transaction_attribute_31',
 'transaction_attribute_32',
 'transaction_attribute_33',
 'transaction_attribute_34',
 'transaction_attribute_35',
 'transaction_attribute_36',
 'transaction_attribute_37',
 'transaction_attribute_38',
 'transaction_attribute_39',
 'transaction_attribute_40',
 'transaction_attribute_41',
 'transaction_attribute_42',
 'transaction_attribute_43',
 'transaction_attribute_44',
 'transaction_attribute_45',
 'transaction_attribute_46',
 'transaction_attribute_47',
 'transaction_attribute_48',
 'transaction_attribute_49',
 'transaction_attribute_50',
 'transaction_attribute_51',
 'transaction_attribute_52',
 'transaction_attribute_53',
 'transaction_attribute_54',
 'transaction_attribute_55',
 'transaction_attribute_56',
 'transaction_attribute_57',
 'transaction_attribute_58',
 'transaction_attribute_59',
 'transaction_attribute_60',
 'transaction_attribute_61',
 'transaction_attribute_62',
 'transaction_attribute_63',
 'transaction_attribute_64',
 'transaction_attribute_65',
 'transaction_attribute_66',
 'transaction_attribute_67',
 'transaction_attribute_68',
 'transaction_attribute_69',
 'transaction_attribute_70',
 'transaction_attribute_71',
 'transaction_attribute_72',
 'transaction_attribute_73',
 'transaction_attribute_74',
 'transaction_attribute_75',
 'transaction_attribute_76',
 'transaction_attribute_77',
 'transaction_attribute_78',
 'transaction_attribute_79',
 'transaction_attribute_80',
 'transaction_attribute_81',
 'transaction_attribute_82',
 'transaction_attribute_83',
 'transaction_attribute_84',
 'transaction_attribute_85',
 'transaction_attribute_86',
 'transaction_attribute_87',
 'transaction_attribute_88',
 'transaction_attribute_89',
 'transaction_attribute_90',
 'transaction_attribute_91',
 'transaction_attribute_92',
 'transaction_attribute_93',
 'transaction_attribute_94',
 'transaction_attribute_95',
 'transaction_attribute_96',
 'transaction_attribute_97',
 'transaction_attribute_98',
 'transaction_attribute_99',
 'transaction_attribute_100',
 'transaction_attribute_101',
 'transaction_attribute_102',
 'transaction_attribute_103',
 'transaction_attribute_104',
 'transaction_attribute_105',
 'transaction_attribute_106',
 'transaction_attribute_107',
 'transaction_attribute_108',
 'transaction_attribute_109',
 'transaction_attribute_110',
 'transaction_attribute_111',
 'transaction_attribute_112',
 'transaction_attribute_113',
 'transaction_attribute_114',
 'transaction_attribute_115',
 'transaction_attribute_116',
 'transaction_attribute_117',
 'transaction_attribute_118',
 'transaction_attribute_119',
 'transaction_attribute_120',
 'transaction_attribute_121',
 'transaction_attribute_122',
 'transaction_attribute_123',
 'transaction_attribute_124',
 'transaction_attribute_125',
 'transaction_attribute_126',
 'transaction_attribute_127',
 'transaction_attribute_128',
 'transaction_attribute_129',
 'transaction_attribute_130',
 'transaction_attribute_131',
 'transaction_attribute_132',
 'transaction_attribute_134',
 'transaction_attribute_135',
 'transaction_attribute_137',
 'transaction_attribute_138',
 'transaction_attribute_139',
 'transaction_attribute_140',
 'transaction_attribute_141',
 'transaction_attribute_142',
 'transaction_attribute_143',
 'transaction_attribute_144',
 'transaction_attribute_146',
 'transaction_attribute_147',
 'transaction_attribute_149',
 'transaction_attribute_151',
 'transaction_attribute_153',
 'transaction_attribute_154',
 'transaction_attribute_155',
 'transaction_attribute_156',
 'transaction_attribute_157',
 'transaction_attribute_158',
 'transaction_attribute_159',
 'transaction_attribute_160',
 'transaction_attribute_161',
 'transaction_attribute_162',
 'transaction_attribute_163',
 'transaction_attribute_164',
 'transaction_attribute_165',
 'transaction_attribute_166',
 'transaction_attribute_167',
 'transaction_attribute_168',
 'transaction_attribute_169',
 'transaction_attribute_170',
 'transaction_attribute_171',
 'transaction_attribute_172',
 'transaction_attribute_173',
 'transaction_attribute_174',
 'transaction_attribute_175',
 'transaction_attribute_176',
 'transaction_attribute_177',
 'transaction_attribute_178',
 'transaction_attribute_179',
 'transaction_attribute_180',
 'transaction_attribute_181',
 'transaction_attribute_182',
 'transaction_attribute_183',
 'transaction_attribute_184',
 'transaction_attribute_185',
 'transaction_attribute_186',
 'transaction_attribute_187',
 'transaction_attribute_188',
 'transaction_attribute_189',
 'transaction_attribute_190',
 'transaction_attribute_192',
 'transaction_attribute_193',
 'transaction_attribute_194',
 'transaction_attribute_195',
 'transaction_attribute_196',
 'transaction_attribute_197',
 'transaction_attribute_198',
 'transaction_attribute_199',
 'transaction_attribute_200',
 'transaction_attribute_201',
 'transaction_attribute_202',
 'transaction_attribute_203',
 'transaction_attribute_204',
 'transaction_attribute_205',
 'transaction_attribute_206',
 'transaction_attribute_207',
 'transaction_attribute_208',
 'transaction_attribute_209',
 'transaction_attribute_210',
 'transaction_attribute_211',
 'transaction_attribute_212',
 'transaction_attribute_213',
 'transaction_attribute_214',
 'transaction_attribute_215',
 'transaction_attribute_216',
 'transaction_attribute_217',
 'transaction_attribute_218',
 'transaction_attribute_219',
 'transaction_attribute_220',
 'transaction_attribute_221',
 'transaction_attribute_222',
 'transaction_attribute_223',
 'transaction_attribute_224',
 'transaction_attribute_225',
 'transaction_attribute_226',
 'transaction_attribute_227',
 'transaction_attribute_228',
 'transaction_attribute_229',
 'transaction_attribute_230',
 'transaction_attribute_231',
 'transaction_attribute_232',
 'transaction_attribute_233',
 'transaction_attribute_234',
 'transaction_attribute_235',
 'transaction_attribute_236',
 'transaction_attribute_237',
 'transaction_attribute_238',
 'transaction_attribute_239',
 'transaction_attribute_240',
 'transaction_attribute_241',
 'transaction_attribute_242',
 'transaction_attribute_243',
 'transaction_attribute_244',
 'transaction_attribute_245',
 'transaction_attribute_246',
 'transaction_attribute_247',
 'transaction_attribute_248',
 'transaction_attribute_249',
 'transaction_attribute_250',
 'transaction_attribute_251',
 'transaction_attribute_252',
 'transaction_attribute_253',
 'transaction_attribute_254',
 'transaction_attribute_255',
 'transaction_attribute_256',
 'transaction_attribute_257',
 'transaction_attribute_258',
 'transaction_attribute_259',
 'transaction_attribute_260',
 'transaction_attribute_261',
 'transaction_attribute_262',
 'transaction_attribute_263',
 'transaction_attribute_264',
 'transaction_attribute_265',
 'transaction_attribute_266',
 'transaction_attribute_267',
 'transaction_attribute_268',
 'transaction_attribute_269',
 'transaction_attribute_270',
 'transaction_attribute_271',
 'transaction_attribute_272',
 'transaction_attribute_273',
 'transaction_attribute_274',
 'transaction_attribute_275',
 'transaction_attribute_276',
 'transaction_attribute_277',
 'transaction_attribute_278',
 'transaction_attribute_279',
 'transaction_attribute_280',
 'transaction_attribute_281',
 'transaction_attribute_282',
 'transaction_attribute_283',
 'transaction_attribute_284',
 'transaction_attribute_285',
 'transaction_attribute_286',
 'transaction_attribute_287',
 'transaction_attribute_288',
 'transaction_attribute_289',
 'transaction_attribute_290',
 'transaction_attribute_291',
 'transaction_attribute_292',
 'transaction_attribute_293',
 'transaction_attribute_294',
 'transaction_attribute_295',
 'transaction_attribute_296',
 'transaction_attribute_297',
 'transaction_attribute_298',
 'transaction_attribute_299',
 'transaction_attribute_300',
 'transaction_attribute_301',
 'transaction_attribute_302',
 'transaction_attribute_303',
 'transaction_attribute_304',
 'transaction_attribute_305',
 'transaction_attribute_306',
 'transaction_attribute_307',
 'transaction_attribute_308',
 'transaction_attribute_309',
 'transaction_attribute_310',
 'transaction_attribute_311',
 'transaction_attribute_312',
 'transaction_attribute_313',
 'transaction_attribute_314',
 'transaction_attribute_315',
 'transaction_attribute_316',
 'transaction_attribute_317',
 'transaction_attribute_318',
 'transaction_attribute_319',
 'transaction_attribute_320',
 'transaction_attribute_321',
 'transaction_attribute_322',
 'transaction_attribute_323',
 'transaction_attribute_324',
 'transaction_attribute_325',
 'transaction_attribute_326',
 'transaction_attribute_327',
 'transaction_attribute_328',
 'transaction_attribute_329',
 'transaction_attribute_330',
 'transaction_attribute_331',
 'transaction_attribute_332',
 'transaction_attribute_333',
 'transaction_attribute_334',
 'transaction_attribute_335',
 'transaction_attribute_336',
 'transaction_attribute_337',
 'transaction_attribute_338',
 'transaction_attribute_339',
 'transaction_attribute_340',
 'transaction_attribute_341',
 'transaction_attribute_342',
 'transaction_attribute_343',
 'transaction_attribute_344',
 'transaction_attribute_345',
 'transaction_attribute_346',
 'transaction_attribute_347',
 'transaction_attribute_348',
 'transaction_attribute_349',
 'transaction_attribute_350',
 'transaction_attribute_351',
 'transaction_attribute_352',
 'transaction_attribute_353',
 'transaction_attribute_354',
 'transaction_attribute_355',
 'transaction_attribute_356',
 'transaction_attribute_357',
 'transaction_attribute_358',
 'transaction_attribute_359',
 'transaction_attribute_360',
 'transaction_attribute_361',
 'transaction_attribute_362',
 'transaction_attribute_363',
 'transaction_attribute_364',
 'transaction_attribute_365',
 'transaction_attribute_366',
 'transaction_attribute_367',
 'transaction_attribute_368',
 'transaction_attribute_369',
 'transaction_attribute_370',
 'transaction_attribute_371',
 'transaction_attribute_372',
 'transaction_attribute_373',
 'transaction_attribute_374',
 'transaction_attribute_375',
 'transaction_attribute_376',
 'transaction_attribute_377',
 'transaction_attribute_378',
 'transaction_attribute_379',
 'transaction_attribute_380',
 'transaction_attribute_381',
 'transaction_attribute_382',
 'transaction_attribute_383',
 'transaction_attribute_384',
 'transaction_attribute_385',
 'transaction_attribute_386',
 'transaction_attribute_387',
 'transaction_attribute_388',
 'transaction_attribute_389',
 'transaction_attribute_390',
 'transaction_attribute_391',
 'transaction_attribute_392',
 'transaction_attribute_393',
 'transaction_attribute_394',
 'transaction_attribute_395',
 'transaction_attribute_396',
 'transaction_attribute_397',
 'transaction_attribute_398',
 'transaction_attribute_399',
 'transaction_attribute_400',
 'transaction_attribute_401',
 'transaction_attribute_402',
 'transaction_attribute_403',
 'transaction_attribute_404',
 'transaction_attribute_405',
 'transaction_attribute_406',
 'transaction_attribute_407',
 'transaction_attribute_408',
 'transaction_attribute_409',
 'transaction_attribute_410',
 'transaction_attribute_411',
 'transaction_attribute_412',
 'transaction_attribute_413',
 'transaction_attribute_415',
 'transaction_attribute_416',
 'transaction_attribute_417',
 'transaction_attribute_418',
 'transaction_attribute_419',
 'transaction_attribute_420',
 'transaction_attribute_421',
 'transaction_attribute_422',
 'transaction_attribute_423',
 'transaction_attribute_424',
 'transaction_attribute_425',
 'transaction_attribute_426',
 'transaction_attribute_427',
 'transaction_attribute_428',
 'transaction_attribute_429',
 'transaction_attribute_430',
 'transaction_attribute_431',
 'transaction_attribute_432',
 'transaction_attribute_433',
 'transaction_attribute_434',
 'transaction_attribute_435',
 'transaction_attribute_436',
 'transaction_attribute_437',
 'transaction_attribute_438',
 'transaction_attribute_439',
 'transaction_attribute_440',
 'transaction_attribute_441',
 'transaction_attribute_442',
 'transaction_attribute_443',
 'transaction_attribute_444',
 'transaction_attribute_445',
 'transaction_attribute_446',
 'transaction_attribute_447',
 'transaction_attribute_448',
 'transaction_attribute_449',
 'transaction_attribute_450',
 'transaction_attribute_451',
 'transaction_attribute_452',
 'transaction_attribute_453',
 'transaction_attribute_454',
 'transaction_attribute_455',
 'transaction_attribute_456',
 'transaction_attribute_457',
 'transaction_attribute_458',
 'transaction_attribute_459',
 'transaction_attribute_460',
 'transaction_attribute_461',
 'transaction_attribute_462',
 'transaction_attribute_463',
 'transaction_attribute_464',
 'transaction_attribute_465',
 'transaction_attribute_466',
 'transaction_attribute_467',
 'transaction_attribute_468',
 'transaction_attribute_469',
 'transaction_attribute_470',
 'transaction_attribute_471',
 'transaction_attribute_472',
 'transaction_attribute_473',
 'transaction_attribute_474',
 'transaction_attribute_475',
 'transaction_attribute_476',
 'transaction_attribute_477',
 'transaction_attribute_478',
 'transaction_attribute_479',
 'transaction_attribute_480',
 'transaction_attribute_481',
 'transaction_attribute_482',
 'transaction_attribute_483',
 'transaction_attribute_484',
 'transaction_attribute_485',
 'transaction_attribute_486',
 'transaction_attribute_487',
 'transaction_attribute_488',
 'transaction_attribute_490',
 'transaction_attribute_491',
 'transaction_attribute_492',
 'transaction_attribute_493',
 'transaction_attribute_494',
 'transaction_attribute_495',
 'transaction_attribute_496',
 'transaction_attribute_497',
 'transaction_attribute_498',
 'transaction_attribute_499',
 'transaction_attribute_500',
 'transaction_attribute_501',
 'transaction_attribute_502',
 'transaction_attribute_503',
 'transaction_attribute_504',
 'transaction_attribute_505',
 'transaction_attribute_506',
 'transaction_attribute_507',
 'transaction_attribute_508',
 'transaction_attribute_509',
 'transaction_attribute_510',
 'transaction_attribute_511',
 'transaction_attribute_512',
 'transaction_attribute_513',
 'transaction_attribute_514',
 'transaction_attribute_515',
 'transaction_attribute_516',
 'transaction_attribute_517',
 'transaction_attribute_518',
 'transaction_attribute_519',
 'transaction_attribute_520',
 'transaction_attribute_521',
 'transaction_attribute_522',
 'transaction_attribute_523',
 'transaction_attribute_526',
 'transaction_attribute_527',
 'transaction_attribute_528',
 'transaction_attribute_529',
 'transaction_attribute_530',
 'transaction_attribute_531',
 'transaction_attribute_532',
 'transaction_attribute_533',
 'transaction_attribute_534',
 'transaction_attribute_535',
 'transaction_attribute_536',
 'transaction_attribute_537',
 'transaction_attribute_538',
 'transaction_attribute_539',
 'transaction_attribute_540',
 'transaction_attribute_541',
 'transaction_attribute_542',
 'transaction_attribute_543',
 'transaction_attribute_544',
 'transaction_attribute_545',
 'transaction_attribute_546',
 'transaction_attribute_547',
 'transaction_attribute_548',
 'transaction_attribute_549',
 'transaction_attribute_550',
 'transaction_attribute_551',
 'transaction_attribute_552',
 'transaction_attribute_553',
 'transaction_attribute_555',
 'transaction_attribute_556',
 'transaction_attribute_557',
 'transaction_attribute_558',
 'transaction_attribute_559',
 'transaction_attribute_560',
 'transaction_attribute_561',
 'transaction_attribute_562',
 'transaction_attribute_563',
 'transaction_attribute_564',
 'transaction_attribute_565',
 'transaction_attribute_566',
 'transaction_attribute_567',
 'transaction_attribute_568',
 'transaction_attribute_569',
 'transaction_attribute_570',
 'transaction_attribute_571',
 'transaction_attribute_572',
 'transaction_attribute_573',
 'transaction_attribute_574',
 'transaction_attribute_576',
 'transaction_attribute_577',
 'transaction_attribute_579',
 'transaction_attribute_580',
 'transaction_attribute_581',
 'transaction_attribute_583',
 'transaction_attribute_584',
 'transaction_attribute_585',
 'transaction_attribute_586',
 'transaction_attribute_587',
 'transaction_attribute_588',
 'transaction_attribute_589',
 'transaction_attribute_590',
 'transaction_attribute_591',
 'transaction_attribute_592',
 'transaction_attribute_593',
 'transaction_attribute_594',
 'transaction_attribute_595',
 'transaction_attribute_596',
 'transaction_attribute_597',
 'transaction_attribute_598',
 'transaction_attribute_599',
 'transaction_attribute_600',
 'transaction_attribute_601',
 'transaction_attribute_602',
 'transaction_attribute_603',
 'transaction_attribute_604',
 'transaction_attribute_605',
 'transaction_attribute_606',
 'transaction_attribute_607',
 'transaction_attribute_608',
 'transaction_attribute_609',
 'transaction_attribute_610',
 'transaction_attribute_611',
 'transaction_attribute_612',
 'transaction_attribute_613',
 'transaction_attribute_614',
 'transaction_attribute_615',
 'transaction_attribute_616',
 'transaction_attribute_617',
 'transaction_attribute_618',
 'transaction_attribute_619',
 'transaction_attribute_620',
 'transaction_attribute_622',
 'transaction_attribute_623',
 'transaction_attribute_624',
 'transaction_attribute_625',
 'transaction_attribute_626',
 'transaction_attribute_627',
 'transaction_attribute_628',
 'transaction_attribute_629',
 'transaction_attribute_630',
 'transaction_attribute_631',
 'transaction_attribute_632',
 'transaction_attribute_633',
 'transaction_attribute_634',
 'transaction_attribute_635',
 'transaction_attribute_636',
 'transaction_attribute_637',
 'transaction_attribute_638',
 'transaction_attribute_639',
 'transaction_attribute_640',
 'transaction_attribute_641',
 'transaction_attribute_642',
 'transaction_attribute_643',
 'transaction_attribute_644',
 'transaction_attribute_645',
 'transaction_attribute_646',
 'transaction_attribute_647',
 'transaction_attribute_648',
 'transaction_attribute_649',
 'transaction_attribute_650',
 'transaction_attribute_651',
 'transaction_attribute_652',
 'transaction_attribute_653',
 'transaction_attribute_654',
 'transaction_attribute_655',
 'transaction_attribute_656',
 'transaction_attribute_657',
 'transaction_attribute_658',
 'transaction_attribute_659',
 'transaction_attribute_660',
 'transaction_attribute_661',
 'transaction_attribute_662',
 'transaction_attribute_663',
 'transaction_attribute_664',
 'bureau_1',
 'bureau_2',
 'bureau_3',
 'bureau_5',
 'bureau_6',
 'bureau_7',
 'bureau_8',
 'bureau_9',
 'bureau_10',
 'bureau_11',
 'bureau_12',
 'bureau_13',
 'bureau_14',
 'bureau_15',
 'bureau_17',
 'bureau_18',
 'bureau_19',
 'bureau_20',
 'bureau_21',
 'bureau_22',
 'bureau_23',
 'bureau_24',
 'bureau_25',
 'bureau_27',
 'bureau_28',
 'bureau_29',
 'bureau_30',
 'bureau_31',
 'bureau_32',
 'bureau_33',
 'bureau_34',
 'bureau_35',
 'bureau_36',
 'bureau_37',
 'bureau_39',
 'bureau_40',
 'bureau_41',
 'bureau_42',
 'bureau_43',
 'bureau_44',
 'bureau_45',
 'bureau_46',
 'bureau_48',
 'bureau_49',
 'bureau_50',
 'bureau_51',

In [20]:
df = df[high_corr_columns+['account_number', 'bad_flag']]

In [21]:
df.head()

,onus_attribute_1,transaction_attribute_1,transaction_attribute_2,transaction_attribute_3,transaction_attribute_4,transaction_attribute_5,transaction_attribute_6,transaction_attribute_7,transaction_attribute_8,transaction_attribute_9,...,bureau_enquiry_49,bureau_enquiry_50,onus_attribute_43,onus_attribute_44,onus_attribute_45,onus_attribute_46,onus_attribute_47,onus_attribute_48,account_number,bad_flag
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,1,0
1,221000.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,2.0,3.0,0.0,0.0,0.0,0.0,0.0,0.0,2,0
2,25000.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,8.0,NaN,NaN,NaN,NaN,NaN,NaN,3,0
3,86000.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,30.0,NaN,NaN,NaN,NaN,NaN,NaN,4,0
4,215000.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,5,0

In [22]:
df.shape

(96806, 1135)

In [26]:
missing_values_count = df.isnull().sum()
columns_to_drop = missing_values_count[missing_values_count>40000].index
df_clean = df.drop(columns=columns_to_drop)

In [27]:
df_clean.to_csv('filtered_data.csv', index=True)

In [2]:
df = pd.read_csv('filtered_data.csv')

In [3]:
df.head()

,Unnamed: 0,onus_attribute_1,transaction_attribute_1,transaction_attribute_2,transaction_attribute_3,transaction_attribute_4,transaction_attribute_5,transaction_attribute_6,transaction_attribute_7,transaction_attribute_8,...,bureau_enquiry_42,bureau_enquiry_43,bureau_enquiry_44,bureau_enquiry_45,bureau_enquiry_46,bureau_enquiry_48,bureau_enquiry_49,bureau_enquiry_50,account_number,bad_flag
0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,3.0,0.0,0.0,0.0,0.0,0.0,1.0,1,0
1,1,221000.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,2.0,4.0,0.0,1.0,0.0,0.0,2.0,3.0,2,0
2,2,25000.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,11.0,0.0,2.0,0.0,0.0,0.0,8.0,3,0
3,3,86000.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,38.0,0.0,6.0,0.0,0.0,0.0,30.0,4,0
4,4,215000.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,5,0

In [4]:
from sklearn.model_selection import train_test_split
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import StandardScaler
from sklearn.decomposition import PCA
from sklearn.svm import SVC
from sklearn.metrics import accuracy_score, precision_score, recall_score

X = df.drop(columns=['Unnamed: 0','bad_flag', 'account_number'])
y = df['bad_flag']

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, stratify=y, random_state=42)

In [5]:
imputer = SimpleImputer(strategy='median')
X_train_imputed = imputer.fit_transform(X_train)
X_test_imputed = imputer.transform(X_test)

In [6]:
scaler = StandardScaler()
X_train_scaled = scaler.fit_transform(X_train_imputed)
X_test_scaled = scaler.transform(X_test_imputed)

In [7]:
pca = PCA(n_components=0.95)
X_train_pca = pca.fit_transform(X_train_scaled)
X_test_pca = pca.transform(X_test_scaled)

In [8]:
svm_model = SVC(kernel='rbf', C=0.1)

In [ ]:
svm_model.fit(X_train_pca, y_train)

In [ ]:
y_pred = svm_model.predict(X_test_pca)
print('Accuracy:', accuracy_score(y_test, y_pred))
print('Precision:', precision_score(y_test, y_pred))
print('Recall:', recall_score(y_test, y_pred))

In [ ]:
from sklearn.model_selection import train_test_split
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import StandardScaler
from sklearn.decomposition import PCA
from sklearn.svm import SVC
from sklearn.metrics import accuracy_score, precision_score, recall_score

X = df.drop(columns=['Unnamed: 0','bad_flag', 'account_number'])
y = df['bad_flag']

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, stratify=y, random_state=42)

imputer = SimpleImputer(strategy='median')
X_train_imputed = imputer.fit_transform(X_train)
X_test_imputed = imputer.transform(X_test)

scaler = StandardScaler()
X_train_scaled = scaler.fit_transform(X_train_imputed)
X_test_scaled = scaler.transform(X_test_imputed)

pca = PCA(n_components=0.95)
X_train_pca = pca.fit_transform(X_train_scaled)
X_test_pca = pca.transform(X_test_scaled)

svm_model = SVC(kernel='rbf')
svm_model.fit(X_train_pca, y_train)

y_pred = svm_model.predict(X_test_pca)


accuracy = accuracy_score(y_test, y_pred)
print('Accuracy:', accuracy_score(y_test, y_pred))
print('Precision:', precision_score(y_test, y_pred))
print('Recall:', recall_score(y_test, y_pred))